@using LNF.Web.Mvc;
@using Data.Models;
@model UtilityModel
@{
    ViewBag.Title = "Fees";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.ActionLink("Utility", "Index") / Fees</h3>
    </div>
    <div class="panel-body">
        @Html.CreateSubMenu(Model.GetSubMenu())
    </div>
</div>