@{
    ViewBag.Title = "Google Data";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
    //string app = "Google";

    string userInfoDisplayName = ViewBag.UserInfoDisplayName;
    if (string.IsNullOrEmpty(userInfoDisplayName))
    {
        throw new Exception("ViewBag.UserInfoDisplayName is empty.");
    }

    string userInfoEmail = ViewBag.UserInfoEmail;
    if (string.IsNullOrEmpty(userInfoEmail))
    {
        throw new Exception("ViewBag.UserInfoEmail is empty.");
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Google Data</h3>
    </div>
    <div class="panel-body">
        Welcome Google user
        <strong>@userInfoDisplayName [@userInfoEmail]</strong>
        <hr />
        <h3>Files</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>MimeType</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var df in Model.Files)
                {
                    <tr>
                        <td>@df.Title</td>
                        <td>@df.MimeType</td>
                        <td>@(df.Created.HasValue ? df.Created.Value.ToString("M/d/yyyy h:mm:ss tt") : "[never]")</td>
                        <td>@(df.Modified.HasValue ? df.Modified.Value.ToString("M/d/yyyy h:mm:ss tt") : "[never]")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>