@using LNF.Web.Mvc;
@using Data.Models;
@model ServiceModel
@{
    ViewBag.Title = "Services";
}

<div class="page">
    <h2>Services</h2>
    @Html.CreateSubMenu(Model.GetSubMenu())
    <div class="section data-utility">
        <div class="content">
            <ul>
                <li>@Html.ActionLink("Scheduler", "Scheduler", "Service")</li>
            </ul>
        </div>
    </div>
</div>
